<h2>Info about your account</h2>


<h1> <b> Name: </b> <%= current_user.name%></h1>
<h1> <b> Username:</b> <%= current_user.username%></h1>
<h1> <b> Email:</b> <%= current_user.email%></h1>
<h1> <b> Account created at:</b> <%= current_user.created_at%></h1>