<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <div class="rows">
          <%= render 'layouts/postInfo' %>
        </div>   
      </div>
      <div class="column">
        <div class="rows">
          <%= render "layouts/categoryBar" %>
        </div> 
        <p>
          <%= link_to 'Back to all', posts_path %>
        </p>
      </div>
    </div>
  </div>
</section>
