<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <div class="rows">
          <%= render 'layouts/postInfo' %>
        </div>   
      </div>
      <div class="column">
        <div class="rows">
          <%= render "layouts/categoryBar" %>
        </div>   
      </div>

    </div>
    
  </div>
</section>
